{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

    <!-- Start Profile Details Section -->
    <div class="profile">

        <!-- Start Profile Personal Data Section -->
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">

                    <!-- Profile Image -->
                    <img src="{% static 'images/person.png' %}" alt="img8">
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <!-- User Username -->
                    <p>d_kalaydzhiev</p>

                    <!-- IF the viewer is the owner of the profile -->
                    <!-- Link to Edit Profile Page -->
                    <a href="#">
                        <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                    </a>

                    <!-- Link to Delete Profile Page -->
                    <a href="">
                        <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                    </a>
                    <!-- End IF the viewer is the owner of the profile -->

                </div>
                <div class="data">

                    <!-- Total Number of Photos by the User -->
                    <span>4</span>
                    <p>photos</p>

                    <!-- Total Number of Pets owned by the User -->
                    <span>7</span>
                    <p>pets</p>

                    <!-- Total Number of Likes for the User -->
                    <span>436</span>
                    <p>likes</p>
                </div>
                <!-- User First and Last Name IF Added -->
                <h3 class="names">Diyan Kalaydziev</h3>

                <!-- User Email Address -->
                <p class="email">d.denov@gmail.com</p>

                <!-- User Gender IF Added -->
                <p class="gender">Male</p>
            </div>
        </div>
        <!-- End Profile Personal Data Section -->

        <!-- Start Pets Data Section -->
        <div class="pets">
            <div class="statuses">

                <!-- Start Pet Details Page -->
                <!-- Link to First Pet Details Page -->
                {% for pet in pets %}
                <a href="#">
                    <div class="head-pet">
                        <div class="status">
                            <div class="image">
                                <!-- Pet Image -->
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgoIHq82qLYnvomfz5ZkW5CLQ8VNxCyI-hUw&usqp=CAU"
                                     alt="pet img">
                            </div>
                        </div>
                        <!-- Pet Name -->
                        <p>{{ pet.name }}</p>
                    </div>
                </a>
                {% endfor %}
                <!-- End  Pet Details Page -->

            </div>
        </div>
        <!-- End Pets Data Section -->

        <!-- Start Last Uploaded Photos Section -->
        <div class="pet-photos">

            <!-- Link to Last Uploaded Pet Photo -->
            {% for pet in pets %}
            <a href="{% url 'pet details' username="hardcoded" pet_name=pet.slug %}">
                <!-- Pet Photo -->
                <img src="{{ pet.personal_pet_photo }}"
                     alt="{{ pet.name }}">
            </a>
            {% endfor %}
        </div>
        <!-- End Last Uploaded Photos Section -->

    </div>
    <!-- End Profile Details Section -->

{% endblock %}