<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>{{ csrf_token }}</p>
    <form action="{% url 'model-form' person.pk %}" method="post">
        {% csrf_token %}
        {{ model_form.as_p }}
        <input type="submit" value="Submit model form"/>
    </form>

</body>
</html>