{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {# load global CDN rules #}
    {# load global local JS rules   #}
    {# load global local CSS rules   #}

</head>
<body>
    {% block page_content %}
    {% endblock %}

    {% block page_specific_staticfiles %}
    {% endblock %}
</body>
</html>