{% extends 'web/base.html' %}
{% load static %}

{% block other_pages %}

<!--Edit Page-->
<section class="editPage">
    <form action="{% url 'delete album page' id=album.id %}" method="post">
        <fieldset>
            <legend>Delete Album</legend>
            <div class="container">

                <!-- Form for Deleting an Album -->
                {% csrf_token %}
                {{ delete_form }}
                <!-- Button for Deleting an Album -->
                <button class="delete-album" type="submit">Delete Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}
