{% extends 'web/base.html' %}
{% load static %}

{% block other_pages %}

<!--Edit Page-->
<section class="editPage">
    <form method="post" action="{% url 'edit album page' id=album.id %}">
        <fieldset>
            <legend>Edit Album</legend>
            <div class="container">

                <!-- Form for Editing Album -->
                {% csrf_token %}
                {{ edit_form }}

                <!-- Button for Editing Album -->
                <button class="edit-album" type="submit">Edit Album</button>
            </div>
        </fieldset>
    </form>
</section>

{% endblock %}