<!--Home Page-->
{% extends 'web/base.html' %}
{% load static %}


{% block main_content_no_profile %}
<div class="container-inline">
    <section id="welcomePage">
        <div id="welcome-message">
            <h1>Welcome to</h1>
            <h1>My Music App!</h1>
        </div>
        <div class="music-img">
            <img src="{% static 'images/musicIcons.webp' %}" alt="music-icon">
        </div>
    </section>

    <!-- Registration -->
    <section id="registerPage">

        <form action="{% url 'home page' %}" method="post">
            <fieldset>
                <legend>Profile</legend>
                <!-- Form for Registration -->
                {% csrf_token %}
                {{ add_form }}
                <!-- Button to Create Profile -->
                <button type="submit" class="register">Enter</button>
            </fieldset>
        </form>
    </section>
</div>
{% endblock %}